<div>
<hr />
  <% @images.each do |image| %>
    <td>
	  <tr>
        <%= link_to_remote( image_tag( thumb_admin_image_path(image, :png) ) ) %>
      </tr>
    </td>
  <% end %>
<div>
	<div>
      <%= page_entries_info @images %>
</div>
</div>
   	<%= will_paginate @images %>
